<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="Heat Clinic - Swamp Consulting" />

<body>
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />
    
    <div id="content" class="width_setter group" role="main">
    
        <nav th:substituteby="layout/partials/nav" />
        
        <!-- This addition puts in a flash sale for product 1 -->
        <blc:content contentType="Homepage Banner Ad" />
        <div id="flashSales" style="width: 980px;">
        	<div th:object="${products[0]}" th:include="catalog/partials/flashSale"></div>
        	<div th:object="${products[1]}" th:include="catalog/partials/flashSale"></div>
        	<div th:object="${products[2]}" th:include="catalog/partials/flashSale"></div>
        	<div th:object="${products[3]}" th:include="catalog/partials/flashSale"></div>
        </div>
        <script type="text/javascript">
        	$("#flashSales").carouFredSel({
        		items: 1,
        		auto: {
        			timeoutDuration: 5000
        		},
        		width: "auto",
        		height: 420
        	});
        </script>
        
        <!-- This puts in the shirt special, which we don't want -->
        <!--<blc:content contentType="Homepage Banner Ad" />       
        <div id="banners" th:if="${contentItem}">
            <a th:href="@{${contentItem['targetUrl']}}"><img th:src="@{${contentItem['imageUrl']}}" alt="Buy One Get One" /></a>        
        </div>-->
        
        <blc:content contentType="Homepage Middle Promo Snippet" /> 
        
        <a th:href="@{/register}" th:if="${contentItem}" style="text-decoration:none">
            <div id="home_feature" th:utext="${contentItem['htmlContent']}"></div>
        </a>

        
        <blc:content contentType="Homepage Featured Products Title" />    
        <div th:if="${contentItem}" class="title_bar" th:text="${contentItem['messageText']}"></div>
        
        <ul id="products" class="group">
            <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
        </ul>
    </div>
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>
