<div style="padding: 20px;">
	<!--left side of flash sale-->
	<div class="image" style="float:left;">
	    <a th:href="@{*{url}}">
	    <img th:if="*{media['primary']}" th:src="@{*{media['primary'].url} + '?browse'}" alt="Sauce Image" />
	    <div class="price" th:if="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
	        <div blc:price="*{salePrice}" th:if="*{onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></div>
	        <div blc:price="*{retailPrice}" th:classappend="*{onSale}? 'has-sale'"></div>
	    </div>
	    </a>
	</div>

	<!--right side of flash sale-->
	<div style="width: 500px; float: left; padding-left: 20px;">
		<div style="text-align: center; color: #E40037; font-size: 38px; line-height: 38px;">FLASH SALE!</div>
	
		<div style="height: 10px; width: 100%"></div>
	
	    <div class="title" th:text="*{name}" style="font-size: 30px; line-height: 30px; height: 60px;"></div>
	    
   		<div style="height: 10px; width: 100%"></div>
	
		<div style="font-size: 32px; line-height: 32px; color: #E40037;" th:unless="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
		    <div blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></div>
		    <div blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale'"></div>
		</div>
		
		<div style="height: 10px; width: 100%"></div>
		
		<div th:class="*{'productActions productActions' + id}">
		
		    <div class="in_cart" th:classappend="${!cart.containsSku(#object.defaultSku)}? ' hidden'">
		        <a class="fancycart fancybox.ajax inCart" th:href="@{/cart}"><span th:text="#{product.inCart}">In Cart!</span></a>
		    </div>
		
		    <div class="add_to_cart" th:classappend="${cart.containsSku(#object.defaultSku)}? ' hidden'">
		        <blc:form method="POST" th:action="@{/cart/add}">
		            <input type="hidden" name="productId" th:value="*{id}" />
		            <input type="hidden" name="quantity" value="1" />
		            <input type="hidden" name="hasProductOptions" th:value="*{!#lists.isEmpty(productOptions)}" />
		            <input type="submit" class="addToCart" th:value="#{product.buyNow}"/>
		        </blc:form>
		    </div>
		
		</div>
		
		<div style="height: 20px; width: 100%"></div>

	    <p th:utext="*{longDescription}" style="margin: 0 auto; font-size: 18px; line-height: 18px; height: 90px;"></p>
	    
	    <div style="height: 10px; width: 100%"></div>
	    
	    <a th:href="@{*{url}}">
	    	<input type="submit" class="addToCart" value="View Details"/>
	    </a>
		
		<div style="margin-bottom: 0px; display: none;" th:id="*{'productOptions' + id}" class="product-options modal">
		    <h3 th:text="*{name}"></h3>
		    <!--<div class="product-options" th:substituteby="catalog/partials/productOptions"/>-->
		    <input type="button" class="addToCart" th:value="#{product.buyNow}" />
		</div>
	</div>
	<div class="clear" style="clear:both;"></div>
</div>